<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.izv.aad.proyectotrimestre">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.Mostrar"
            android:label="@string/activity_mostrar"
            android:parentActivityName=".Activities.MainMenu" />
        <activity
            android:name=".Activities.MainMenu"
            android:label="@string/activity_mainmenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AniadirEditar"
            android:label="@string/activity_aniadireditar"
            android:parentActivityName=".Activities.MainMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.DisplayReading"
            android:label="@string/title_activity_display_reading"
            android:parentActivityName=".Activities.Mostrar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SearchActivityPHP"
            android:parentActivityName=".Activities.MainMenu"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
    </application>

</manifest>